<a href="https://colab.research.google.com/github/sanjida-tasnim/MACHINE-LEARNING/blob/main/Report_01_(Label_Encoding).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Course no:** ETE 456

**course name:** Neural and Fuzzy systems in communications sessional

**Submitted to:** Eftekhar Hossain

**Submitted by:**

**name:** Mahabub-e-sanjida tasnim

**ID:** 1608009

**Level:** 4

**Term:** 2

# **Dataset (Medical Cost Personal Datasets)**
**Columns**:

age: age of primary beneficiary

sex: insurance contractor gender, female, male

bmi: Body mass index, providing an understanding of body, weights that are relatively high or low relative to height, objective index of body weight (kg / m ^ 2) using the ratio of height to weight, ideally 18.5 to 24.9

children: Number of children covered by health insurance / Number of dependents

smoker: Smoking

region: the beneficiary's residential area in the US, northeast, southeast, southwest, northwest.

charges: Individual medical costs billed by health insurance

---

**Task** : To accurately predict insurance cost from the Dataset.

# **Objectives:**

1. To apply various regression algorithms on the insurance dataset.

In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
#To import libraries 
import numpy as np          # numpy is used for mathmatical calculation
import matplotlib.pyplot as plt       #matplotlib is used for ploting
import pandas as pd           # used for importing & managing the database

In [ ]:
# To download the data
!wget -O insurance.csv https://www.dropbox.com/s/mwgqgjbmfw0xa5p/insurance.csv?dl=0

--2021-12-20 04:11:30--  https://www.dropbox.com/s/mwgqgjbmfw0xa5p/insurance.csv?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.1.18, 2620:100:6016:18::a27d:112
Connecting to www.dropbox.com (www.dropbox.com)|162.125.1.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/mwgqgjbmfw0xa5p/insurance.csv [following]
--2021-12-20 04:11:30--  https://www.dropbox.com/s/raw/mwgqgjbmfw0xa5p/insurance.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucdc390a19f9e9b82060f4647db0.dl.dropboxusercontent.com/cd/0/inline/BcLcHQMJHH0GY7GcDNPI-e6xMcJbUsryWw0hN2wj8gMKK5lAfFGf0W4Ec_NmiZbRBiS8a1LtGREG94KV1fCaxHFnOsRA4YCYqHhoUmrTLxiP-s8XYibv6ALnsvyPGiqZubOE3XjSshKPBxACzmZ5EZVg/file# [following]
--2021-12-20 04:11:30--  https://ucdc390a19f9e9b82060f4647db0.dl.dropboxusercontent.com/cd/0/inline/BcLcHQMJHH0GY7GcDNPI-e6xMcJbUsryWw0hN2wj8gMKK5lAfFGf0W4Ec_NmiZbRBiS8a1LtGREG94KV1fCaxHFnOsRA4YCYqHhoUmrTLxiP-s8XYibv6ALnsvyPGiqZubOE3XjSshKPBxACzmZ5EZVg/file
Resolving ucdc390a19f9e9b82060f4647db0.dl.dropboxusercontent.com (ucdc390a19f9e9b82060f4647db0.dl.dropboxusercontent.com)... 162.125.1.15, 2620:100:6016:15::a27d:10f
Connecting to ucdc390a19f9e9b82060f4647db0.dl.dropboxusercontent.com (ucdc390a19f9e9b82060f4647db0.dl.dropboxusercontent.com)|162.125.1.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 55628 (54K) [text/plain]
Saving to: ‘insurance.csv’

insurance.csv       100%[===================>]  54.32K  --.-KB/s    in 0.08s

2021-12-20 04:11:31 (668 KB/s) - ‘insurance.csv’ saved [55628/55628]

In [ ]:
#To import the dataset 
insurance_cost_dataset = pd.read_csv('insurance.csv')
insurance_cost_dataset

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
#To check the total numbers of rows and columns
insurance_cost_dataset.shape 
#The function "shape" returns the shape of an array.

(1338, 7)

In [ ]:
#To check the columns in dataset
insurance_cost_dataset.columns
#The function "columns" returns all the columns in the dataset

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [ ]:
#To split data into features and target
features = insurance_cost_dataset[['age'	,'sex',	'bmi', 'children', 'smoker', 'region']]  # for independent
target = insurance_cost_dataset[['charges']]   # for dependent
#Feature are those variable which are used for prediction and Target is the variable that we need to predict.

In [ ]:
#To show feature datas
features

      age     sex     bmi  children smoker     region
0      19  female  27.900         0    yes  southwest
1      18    male  33.770         1     no  southeast
2      28    male  33.000         3     no  southeast
3      33    male  22.705         0     no  northwest
4      32    male  28.880         0     no  northwest
...   ...     ...     ...       ...    ...        ...
1333   50    male  30.970         3     no  northwest
1334   18  female  31.920         0     no  northeast
1335   18  female  36.850         0     no  southeast
1336   21  female  25.800         0     no  southwest
1337   61  female  29.070         0    yes  northwest

[1338 rows x 6 columns]

In [ ]:
#To show target data
target

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [ ]:
#To check missing data in age column
#To check if there is any NaN value in the column
pd.isnull(insurance_cost_dataset.age)

0       False
1       False
2       False
3       False
4       False
        ...
1333    False
1334    False
1335    False
1336    False
1337    False
Name: age, Length: 1338, dtype: bool

In [ ]:
#To check missing data in sex column
#To check if there is any NaN value in the column
pd.isnull(insurance_cost_dataset.sex)

0       False
1       False
2       False
3       False
4       False
        ...
1333    False
1334    False
1335    False
1336    False
1337    False
Name: sex, Length: 1338, dtype: bool

In [ ]:
#To check missing data in bmi column
#To check if there is any NaN value in the column
pd.isnull(insurance_cost_dataset.bmi)

0       False
1       False
2       False
3       False
4       False
        ...
1333    False
1334    False
1335    False
1336    False
1337    False
Name: bmi, Length: 1338, dtype: bool

In [ ]:
#To check missing data in children column
#To check if there is any NaN value in the column
pd.isnull(insurance_cost_dataset.children)

0       False
1       False
2       False
3       False
4       False
        ...
1333    False
1334    False
1335    False
1336    False
1337    False
Name: children, Length: 1338, dtype: bool

In [ ]:
#To check missing data in smoker column
#To check if there is any NaN value in the column
pd.isnull(insurance_cost_dataset.smoker)

0       False
1       False
2       False
3       False
4       False
        ...
1333    False
1334    False
1335    False
1336    False
1337    False
Name: smoker, Length: 1338, dtype: bool

In [ ]:
#To check missing data in region column
#To check if there is any NaN value in the column
pd.isnull(insurance_cost_dataset.region)

0       False
1       False
2       False
3       False
4       False
        ...
1333    False
1334    False
1335    False
1336    False
1337    False
Name: region, Length: 1338, dtype: bool

## **Encoding Categorical Data**
Machine learning models require all input and output variables to be numeric. This means that if the data contains categorical data, then it must be encoded to numeric value before evaluating a model.

In [ ]:
#Encoding Categorical Data
from sklearn.preprocessing import LabelEncoder

## **Label Encoding**
The label encoding in Machine learning, the categorical value is replaced with a numeric value between 0 and the number of classes minus 1. If the categorical variable value contains 5 distinct classes, we use (0, 1, 2, 3, and 4). Label Encoding is a popular encoding technique for handling categorical variables.

In [ ]:
#Label Encoding
#Label Encoding of features
labelencoder_feature = LabelEncoder()
#the sex,smoker,region column is represented by numeric value
features['sex'] = labelencoder_feature.fit_transform(features['sex'])
features['smoker'] = labelencoder_feature.fit_transform(features['smoker'])
features['region'] = labelencoder_feature.fit_transform(features['region'])

In [ ]:
features

      age  sex     bmi  children  smoker  region
0      19    0  27.900         0       1       3
1      18    1  33.770         1       0       2
2      28    1  33.000         3       0       2
3      33    1  22.705         0       0       1
4      32    1  28.880         0       0       1
...   ...  ...     ...       ...     ...     ...
1333   50    1  30.970         3       0       1
1334   18    0  31.920         0       0       0
1335   18    0  36.850         0       0       2
1336   21    0  25.800         0       0       3
1337   61    0  29.070         0       1       1

[1338 rows x 6 columns]

# **Splitting The Dataset:**

In [ ]:
#splitting dataset
from sklearn.model_selection import train_test_split

**sklearn:** Scikit-learn (Sklearn) is the most useful and robust library for machine learning. It provides a selection of efficient tools for machine learning and statistical modeling including classification, regression, clustering and dimensionality reduction via a consistence interface in Python. This library is built upon NumPy, SciPy and Matplotlib.

In [ ]:
#Spliting the Dataset into Training Set and Test Set
X_train,X_test,y_train,y_test=train_test_split(features,target,test_size=0.2,random_state=0)

In [ ]:
print(X_train.shape)
print(X_test.shape)

(1070, 6)
(268, 6)

In [ ]:
X_train

      age  sex     bmi  children  smoker  region
621    37    1  34.100         4       1       3
194    18    1  34.430         0       0       2
240    23    0  36.670         2       1       0
1168   32    1  35.200         2       0       3
1192   58    0  32.395         1       0       0
...   ...  ...     ...       ...     ...     ...
763    27    1  26.030         0       0       0
835    42    1  35.970         2       0       2
1216   40    1  25.080         0       0       2
559    19    1  35.530         0       0       1
684    33    0  18.500         1       0       3

[1070 rows x 6 columns]

In [ ]:
X_test

      age  sex     bmi  children  smoker  region
578    52    1  30.200         1       0       3
610    47    0  29.370         1       0       2
569    48    1  40.565         2       1       1
1034   61    1  38.380         0       0       1
198    51    0  18.050         0       0       1
...   ...  ...     ...       ...     ...     ...
1084   62    0  30.495         2       0       1
726    41    1  28.405         1       0       1
1132   57    1  40.280         0       0       0
725    30    0  39.050         3       1       2
963    46    1  24.795         3       0       0

[268 rows x 6 columns]

# **Applying various regression algorithms on the insurance dataset.**

In [ ]:
# To Fit Multiple Linear Regression Model to Training Set
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression()

In [ ]:
# Predicting the Test Set Results
y_pred = regressor.predict(X_test)

In [ ]:
y_test

          charges
578    9724.53000
610    8547.69130
569   45702.02235
1034  12950.07120
198    9644.25250
...           ...
1084  15019.76005
726    6664.68595
1132  20709.02034
725   40932.42950
963    9500.57305

[268 rows x 1 columns]

In [ ]:
X_test

      age  sex     bmi  children  smoker  region
578    52    1  30.200         1       0       3
610    47    0  29.370         1       0       2
569    48    1  40.565         2       1       1
1034   61    1  38.380         0       0       1
198    51    0  18.050         0       0       1
...   ...  ...     ...       ...     ...     ...
1084   62    0  30.495         2       0       1
726    41    1  28.405         1       0       1
1132   57    1  40.280         0       0       0
725    30    0  39.050         3       1       2
963    46    1  24.795         3       0       0

[268 rows x 6 columns]

In [ ]:
y_pred

array([[ 1.10172305e+04],
       [ 9.78753017e+03],
       [ 3.79947821e+04],
       [ 1.61227784e+04],
       [ 6.93075923e+03],
       [ 3.96902046e+03],
       [ 1.55178430e+03],
       [ 1.42832091e+04],
       [ 8.95342886e+03],
       [ 7.43194558e+03],
       [ 4.54457668e+03],
       [ 1.02472753e+04],
       [ 8.65710757e+03],
       [ 4.12619770e+03],
       [ 2.78113171e+04],
       [ 1.10395971e+04],
       [ 1.12514458e+04],
       [ 6.03101003e+03],
       [ 8.17339252e+03],
       [ 2.70394424e+04],
       [ 3.35778484e+04],
       [ 1.42670864e+04],
       [ 1.16850232e+04],
       [ 3.24069403e+04],
       [ 4.41465153e+03],
       [ 9.14607182e+03],
       [ 1.12786921e+03],
       [ 1.00891473e+04],
       [ 4.08782973e+03],
       [ 1.03569127e+04],
       [ 8.96224058e+03],
       [ 4.02452861e+04],
       [ 1.54779185e+04],
       [ 1.36671353e+04],
       [ 2.47415217e+04],
       [ 5.13005676e+03],
       [ 1.28428861e+04],
       [ 3.05264017e+04],
       [ 3.34289155e+04],
       [ 3.48813457e+03],
       [ 4.00215674e+03],
       [ 4.27800724e+03],
       [ 3.04613664e+04],
       [ 3.93491672e+04],
       [ 2.80033682e+04],
       [ 5.00299253e+03],
       [ 1.09312243e+04],
       [ 7.77848493e+03],
       [ 3.60829639e+03],
       [ 1.05573586e+04],
       [ 5.62958594e+03],
       [ 3.37882569e+03],
       [ 3.28476568e+04],
       [ 3.83589849e+04],
       [ 1.62558801e+04],
       [ 7.06241014e+03],
       [ 5.97248325e+03],
       [ 9.39788870e+03],
       [ 9.25780531e+03],
       [ 1.16951751e+04],
       [ 1.69916613e+03],
       [ 3.88121760e+04],
       [ 1.51807841e+04],
       [ 1.16426216e+04],
       [ 1.39795609e+04],
       [ 1.38417075e+04],
       [ 2.60655782e+04],
       [ 3.20927638e+04],
       [ 1.17101972e+03],
       [ 1.00992050e+04],
       [ 1.22269472e+04],
       [ 1.18335084e+04],
       [ 2.50622738e+04],
       [ 1.58641221e+04],
       [ 1.11821756e+04],
       [ 1.26250193e+04],
       [ 6.45516939e+03],
       [ 9.87845081e+03],
       [ 3.01406523e+04],
       [ 3.88752926e+04],
       [ 1.20146292e+04],
       [ 3.74237290e+04],
       [ 4.15801175e+03],
       [ 9.23928751e+03],
       [ 3.47289055e+04],
       [ 2.91373217e+04],
       [ 8.44427879e+03],
       [ 4.83079843e+03],
       [ 1.19084864e+04],
       [ 3.02294133e+04],
       [ 9.99545846e+03],
       [ 1.12369560e+04],
       [ 8.25905055e+03],
       [ 9.21753573e+03],
       [ 8.33677527e+03],
       [ 7.26730321e+03],
       [ 3.59291572e+04],
       [ 3.29979044e+04],
       [ 7.57410931e+03],
       [ 1.49063350e+04],
       [ 4.27127621e+03],
       [ 8.71919546e+03],
       [ 6.59751577e+03],
       [ 3.17561627e+04],
       [ 3.28899862e+04],
       [ 1.95809172e+03],
       [ 8.92940740e+03],
       [ 6.57983838e+03],
       [ 1.44949762e+04],
       [ 3.70281623e+04],
       [ 1.01470596e+04],
       [ 1.07658523e+04],
       [ 1.01691133e+04],
       [ 2.68746394e+04],
       [ 4.00624210e+04],
       [ 8.44832630e+03],
       [ 1.96589741e+02],
       [ 8.88326806e+03],
       [ 1.50611515e+04],
       [ 9.49472144e+03],
       [ 3.53710336e+04],
       [ 7.27834583e+03],
       [ 1.67655528e+04],
       [ 9.55674495e+03],
       [ 8.12293314e+03],
       [ 2.94795679e+03],
       [ 3.28677603e+04],
       [ 3.14299323e+04],
       [ 3.93598209e+04],
       [ 5.46393233e+03],
       [ 9.61378106e+03],
       [ 3.84241341e+03],
       [ 7.93509495e+03],
       [ 8.63006269e+03],
       [ 3.15367816e+04],
       [ 2.97675689e+04],
       [ 3.00650522e+04],
       [ 9.07864776e+03],
       [ 3.27490278e+04],
       [ 3.29582047e+03],
       [ 3.61195610e+03],
       [ 1.10734252e+04],
       [ 1.33881159e+04],
       [ 1.27926473e+04],
       [ 5.40336938e+03],
       [ 1.58291196e+04],
       [ 1.51835111e+04],
       [ 2.39115138e+03],
       [-4.57290300e+00],
       [ 1.08341115e+04],
       [ 7.38733313e+03],
       [ 3.19989361e+04],
       [ 1.23184098e+04],
       [ 2.61418762e+03],
       [ 6.32875168e+03],
       [ 8.15408435e+03],
       [ 4.35215506e+03],
       [ 2.39744190e+03],
       [ 1.13149696e+04],
       [ 1.24560872e+04],
       [ 7.20365872e+03],
       [ 1.65972857e+04],
       [ 1.17749423e+04],
       [ 1.38830635e+04],
       [ 3.20457707e+03],
       [ 7.22859319e+03],
       [ 2.29935518e+04],
       [ 7.55758921e+03],
       [ 5.46027262e+03],
       [ 5.40984450e+03],
       [ 6.65861034e+03],
       [ 5.17322461e+03],
       [ 9.93565007e+03],
       [ 5.60899670e+03],
       [ 5.58773302e+03],
       [ 6.91541998e+03],
       [ 3.70690692e+03],
       [ 5.55019169e+03],
       [ 3.79955283e+04],
       [ 1.46506325e+03],
       [ 1.25647575e+04],
       [ 8.89350019e+03],
       [ 1.36716916e+04],
       [ 5.64848650e+03],
       [ 5.19965979e+03],
       [ 3.63967737e+04],
       [ 4.32172733e+03],
       [ 1.91987766e+03],
       [ 1.51307783e+04],
       [ 1.26216607e+04],
       [ 3.50335769e+04],
       [ 5.07805200e+03],
       [ 5.56555414e+03],
       [ 3.15167547e+04],
       [ 6.07432251e+03],
       [ 2.01675780e+03],
       [ 8.39509874e+03],
       [ 9.96866608e+03],
       [ 8.23603030e+03],
       [ 5.73333252e+03],
       [ 1.31047099e+04],
       [ 3.86873131e+04],
       [ 1.36699138e+04],
       [ 2.87276084e+04],
       [ 6.69862032e+03],
       [ 3.57406127e+04],
       [ 3.75608583e+03],
       [ 1.21427800e+04],
       [ 9.31469022e+03],
       [ 6.43312430e+03],
       [ 1.12679257e+04],
       [ 1.45057260e+04],
       [ 5.13438214e+03],
       [ 4.28295039e+03],
       [ 7.76355644e+03],
       [ 1.22859152e+03],
       [ 7.83607821e+03],
       [ 4.43266844e+03],
       [ 1.32171510e+04],
       [ 4.30125447e+03],
       [ 9.91870069e+03],
       [ 7.21845713e+03],
       [ 9.15493492e+03],
       [ 2.39377981e+03],
       [ 1.30741444e+04],
       [ 1.67287627e+04],
       [ 1.51903834e+04],
       [ 1.04797638e+04],
       [ 5.65541595e+03],
       [ 2.53955407e+03],
       [ 2.20658262e+03],
       [ 1.33883192e+04],
       [ 1.43062904e+04],
       [ 4.98020866e+03],
       [ 4.09918941e+03],
       [ 9.32385463e+03],
       [ 9.95844991e+03],
       [ 2.81802028e+04],
       [ 7.61259457e+03],
       [ 1.04866050e+04],
       [ 6.18809300e+03],
       [ 2.97044306e+04],
       [ 1.09573520e+04],
       [ 7.49600338e+03],
       [ 1.01678653e+04],
       [ 1.21635060e+04],
       [ 2.98970441e+03],
       [ 1.07710490e+04],
       [ 1.53820951e+03],
       [ 7.03304544e+03],
       [ 2.87134296e+04],
       [ 3.85048794e+04],
       [ 6.19510663e+03],
       [ 8.39012681e+03],
       [ 2.48773176e+03],
       [ 4.35521049e+02],
       [ 1.03886967e+04],
       [ 4.43448873e+03],
       [ 4.91660432e+03],
       [ 2.68473300e+03],
       [ 7.18048890e+03],
       [ 3.32486040e+04],
       [ 3.81438757e+04],
       [ 1.46990988e+04],
       [ 8.21085455e+03],
       [ 1.60192845e+04],
       [ 3.31049441e+04],
       [ 9.47124753e+03]])

**Evaluation matrices**

**1.R-squared Error:** R-squared is a statistical measure that represents the goodness of fit of a regression model. The ideal value for r-square is 1. The closer the value of r-square to 1, the better is the model fitted.

**2.Mean Absolute Error:**  Mean Absolute Error is the absolute difference between the actual or true values and the predicted values. The lower the value, the better is the model's performance. A mean absolute error of 0 means that the model is a perfect predictor of the output.

**3.Mean Squared Error:** The mean squared error (MSE) tells you how close a regression line is to a set of points. It does this by taking the distances from the points to the regression line (these distances are the “errors”) and squaring them. The squaring is necessary to remove any negative signs.

**Evalution Matrices:** Evaluation metrics are used to measure the quality of the statistical or machine learning model. Evaluating machine learning models or algorithms is essential for any project.It's about creating and selecting a model which gives high accuracy on out of sample data.

**R-squared Error:**

In [ ]:
#Evaluation matrices
#Evaluation matrices are used to measure the quality of the model
#R-Squared Error
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.7998747145449959

**Mean Absolute Error:**

In [ ]:
#Mean Absolute Error (MAE)
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred)

3930.3332739011403

**Mean Squared Error:**

In [ ]:
#Mean Squared Error (MSE)
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred)

31845929.134159435

# **Feature Scaling:**

**Feature scaling:** Feature Scaling is a method used to normalize the range of independent variables or features of data. In data processing, it is also known as data normalization and is generally performed during the data preprocessing step.

In [ ]:
#feature Scaling
from sklearn.preprocessing import StandardScaler
X_sc = StandardScaler()
y_sc = StandardScaler()
X_train_new = X_sc.fit_transform(X_train[['age',	'sex',	'bmi', 'children', 'smoker', 'region']])
X_test_new = X_sc.transform(X_test[['age',	'sex',	'bmi', 'children', 'smoker', 'region']])
y_train_new = y_sc.fit_transform(y_train[['charges']])
y_test_new = y_sc.transform(y_test[['charges']])

# **Support Vector Machine**

In [ ]:
#Support Vector Regression
# Fitting SVR to the dataset
from sklearn.svm import SVR 

regressor = SVR(kernel = 'linear')
regressor.fit(X_train_new,y_train_new)

SVR(kernel='linear')

In [ ]:
y_pred = regressor.predict(X_test_new)

**R-Squared Error:**

In [ ]:
#R-Squared Error
r2_score(y_test_new, y_pred)

0.7680024596560544

**Mean Absolute Error:**

In [ ]:
#Mean Absolute Error (MAE)
mean_absolute_error(y_test, y_pred)

13546.83744356153

**Mean Squared Error:**

In [ ]:
#Mean Squared Error (MSE)
mean_squared_error(y_test, y_pred)

342622806.4344181

# **Decision Tree Regression:**

In [ ]:
# Decision Tree Regression
# Fitting the decision tree regression with the dataset
from sklearn.tree import DecisionTreeRegressor

regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X_train_new,y_train_new)

DecisionTreeRegressor(random_state=0)

In [ ]:
y_pred = regressor.predict(X_test_new)

**R-Squared Error:**

In [ ]:
#R-Squared Error
r2_score(y_test_new, y_pred)

0.6393382371270102

**Mean Absolute Error:**

In [ ]:
#Mean Absolute Error (MAE)
mean_absolute_error(y_test, y_pred)

13546.694545616454

**Mean Squared Error:**

In [ ]:
#Mean Squared Error (MSE)
mean_squared_error(y_test, y_pred)

342618355.45638067

# **Random Forest Regression:**

In [ ]:
# Random Forest Regression
# Fitting the Random Forest Regression with the dataset
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators = 10,random_state = 0) 
# n estiamator is the number of decision trees
regressor.fit(X_train_new,y_train_new)

RandomForestRegressor(n_estimators=10, random_state=0)

In [ ]:
y_pred = regressor.predict(X_test_new)

**R-Squared Error:**

In [ ]:
#R-Squared Error
r2_score(y_test_new, y_pred)

0.8755935096383534

**Mean Absolute Error:**

In [ ]:
#Mean Absolute Error (MAE)
mean_absolute_error(y_test, y_pred)

13546.782501176138

**Mean Squared Error:**

In [ ]:
#Mean Squared Error (MSE)
mean_squared_error(y_test, y_pred)

342621137.4736722