<a href="https://colab.research.google.com/github/sanjida-tasnim/MACHINE-LEARNING/blob/main/Report_01_(OneHotEncoding).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Course no:** ETE 456

**course name:** Neural and Fuzzy systems in communications sessional

**Submitted to:** Eftekhar Hossain

**Submitted by:**

**name:** Mahabub-e-sanjida tasnim

**ID:** 1608009

**Level:** 4

**Term:** 2

# **Dataset (Medical Cost Personal Datasets)**
**Columns**:

age: age of primary beneficiary

sex: insurance contractor gender, female, male

bmi: Body mass index, providing an understanding of body, weights that are relatively high or low relative to height, objective index of body weight (kg / m ^ 2) using the ratio of height to weight, ideally 18.5 to 24.9

children: Number of children covered by health insurance / Number of dependents

smoker: Smoking

region: the beneficiary's residential area in the US, northeast, southeast, southwest, northwest.

charges: Individual medical costs billed by health insurance

**Task** : To accurately predict insurance cost from the Dataset.

**Objectives:**

1.To apply various regression algorithms on the Medical cost personal dataset.

In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
#To import libraries 
import numpy as np          # used for mathmatical functions
import matplotlib.pyplot as plt       #used for ploting
import pandas as pd           # used for importing & managing the database

In [ ]:
# to download the data
!wget -O insurance.csv https://www.dropbox.com/s/mwgqgjbmfw0xa5p/insurance.csv?dl=0

--2021-11-27 12:27:07--  https://www.dropbox.com/s/mwgqgjbmfw0xa5p/insurance.csv?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.65.18, 2620:100:6021:18::a27d:4112
Connecting to www.dropbox.com (www.dropbox.com)|162.125.65.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/mwgqgjbmfw0xa5p/insurance.csv [following]
--2021-11-27 12:27:07--  https://www.dropbox.com/s/raw/mwgqgjbmfw0xa5p/insurance.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucdc149209b0fcebeb70d5f0fa1d.dl.dropboxusercontent.com/cd/0/inline/BaxFWyZYpkE6evZ4vODA00QgDDJGUmsnZnSagPiWrNV2cEhWz2UrEL4H7As9PAKvazN5V9OweLZYxcz2qwQ-AAs5VrugIxZNuHZmL8BLeB0qMrRV9fHkgmL-qJWA_lbdqkGlYcs0lkqGUgKj2bIyuvO7/file# [following]
--2021-11-27 12:27:07--  https://ucdc149209b0fcebeb70d5f0fa1d.dl.dropboxusercontent.com/cd/0/inline/BaxFWyZYpkE6evZ4vODA00QgDDJGUmsnZnSagPiWrNV2cEhWz2UrEL4H7As9PAKvazN5V9OweLZYxcz2qwQ-AAs5VrugIxZNuHZmL8BLeB0qMrRV9fHkgmL-qJWA_lbdqkGlYcs0lkqGUgKj2bIyuvO7/file
Resolving ucdc149209b0fcebeb70d5f0fa1d.dl.dropboxusercontent.com (ucdc149209b0fcebeb70d5f0fa1d.dl.dropboxusercontent.com)... 162.125.65.15, 2620:100:6021:15::a27d:410f
Connecting to ucdc149209b0fcebeb70d5f0fa1d.dl.dropboxusercontent.com (ucdc149209b0fcebeb70d5f0fa1d.dl.dropboxusercontent.com)|162.125.65.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 55628 (54K) [text/plain]
Saving to: ‘insurance.csv’

insurance.csv       100%[===================>]  54.32K  --.-KB/s    in 0.1s

2021-11-27 12:27:08 (444 KB/s) - ‘insurance.csv’ saved [55628/55628]

In [ ]:
#importing the dataset 
insurance_cost_dataset = pd.read_csv('insurance.csv')
insurance_cost_dataset

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
#to split data into features and target
features = insurance_cost_dataset[['age'	,'sex',	'bmi', 'children', 'smoker', 'region']]  # for independent
target = insurance_cost_dataset[['charges']]   # for dependent

In [ ]:
#to show feature datas
features

      age     sex     bmi  children smoker     region
0      19  female  27.900         0    yes  southwest
1      18    male  33.770         1     no  southeast
2      28    male  33.000         3     no  southeast
3      33    male  22.705         0     no  northwest
4      32    male  28.880         0     no  northwest
...   ...     ...     ...       ...    ...        ...
1333   50    male  30.970         3     no  northwest
1334   18  female  31.920         0     no  northeast
1335   18  female  36.850         0     no  southeast
1336   21  female  25.800         0     no  southwest
1337   61  female  29.070         0    yes  northwest

[1338 rows x 6 columns]

In [ ]:
#to show target data
target

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [ ]:
#There is no missing data in the columns, which we observed during Label Encoding

# **OneHotEncoding:**

**OneHotEncoding:** One hot encoding is one method of converting data to prepare it for an algorithm and get a better prediction. With one-hot, we convert each categorical value into a new categorical column and assign a binary value of 1 or 0 to those columns. Each integer value is represented as a binary vector. All the values are zero, and the index is marked with a 1.

In [ ]:
#OneHotEncoding
#to import OneHotEncoder From Library
from sklearn.preprocessing import OneHotEncoder

In [ ]:
encoder=OneHotEncoder(sparse=False) #sparse Will return sparse matrix if set True else will return an array.
encoded_labels = pd.DataFrame (encoder.fit_transform(features[['sex', 'smoker', 'region']])) #only sex , smoker and region has categorical data

In [ ]:
encoded_labels.columns = encoder.get_feature_names(['sex', 'smoker', 'region'])
insurance_cost_dataset= pd.concat([features, encoded_labels ], axis=1) #concat is used to add new columns in dataset

In [ ]:
insurance_cost_dataset

      age     sex     bmi  ...  region_northwest region_southeast region_southwest
0      19  female  27.900  ...               0.0              0.0              1.0
1      18    male  33.770  ...               0.0              1.0              0.0
2      28    male  33.000  ...               0.0              1.0              0.0
3      33    male  22.705  ...               1.0              0.0              0.0
4      32    male  28.880  ...               1.0              0.0              0.0
...   ...     ...     ...  ...               ...              ...              ...
1333   50    male  30.970  ...               1.0              0.0              0.0
1334   18  female  31.920  ...               0.0              0.0              0.0
1335   18  female  36.850  ...               0.0              1.0              0.0
1336   21  female  25.800  ...               0.0              0.0              1.0
1337   61  female  29.070  ...               1.0              0.0              0.0

[1338 rows x 14 columns]

In [ ]:
insurance_cost_dataset.columns #To show the columns after concat

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'sex_female',
       'sex_male', 'smoker_no', 'smoker_yes', 'region_northeast',
       'region_northwest', 'region_southeast', 'region_southwest'],
      dtype='object')

In [ ]:
new_features = insurance_cost_dataset[['age', 'bmi', 'children',
       'sex_female', 'sex_male', 'smoker_no', 'smoker_yes', 'region_northeast', 'region_northwest', 'region_southeast', 'region_southwest']]

# **Splitting The Dataset**

In [ ]:
#Splitting the dataset
from sklearn.model_selection import train_test_split

In [ ]:
#Spliting the Dataset into Training Set and Test Set
X_train,X_test,y_train,y_test=train_test_split(new_features,target,test_size = 0.2,random_state = 0)

In [ ]:
print(X_train.shape)
print(X_test.shape)

(1070, 11)
(268, 11)

In [ ]:
X_train

      age     bmi  ...  region_southeast  region_southwest
621    37  34.100  ...               0.0               1.0
194    18  34.430  ...               1.0               0.0
240    23  36.670  ...               0.0               0.0
1168   32  35.200  ...               0.0               1.0
1192   58  32.395  ...               0.0               0.0
...   ...     ...  ...               ...               ...
763    27  26.030  ...               0.0               0.0
835    42  35.970  ...               1.0               0.0
1216   40  25.080  ...               1.0               0.0
559    19  35.530  ...               0.0               0.0
684    33  18.500  ...               0.0               1.0

[1070 rows x 11 columns]

In [ ]:
#Applying various regression algorithms on the insurance dataset.
#Train The Model

In [ ]:
#Linear Regression
# Fitting Multiple Linear Regression Model to Training Set
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression()

In [ ]:
# Predicting the Test Set Results
y_pred = regressor.predict(X_test)

In [ ]:
y_test

          charges
578    9724.53000
610    8547.69130
569   45702.02235
1034  12950.07120
198    9644.25250
...           ...
1084  15019.76005
726    6664.68595
1132  20709.02034
725   40932.42950
963    9500.57305

[268 rows x 1 columns]

In [ ]:
X_test

      age     bmi  ...  region_southeast  region_southwest
578    52  30.200  ...               0.0               1.0
610    47  29.370  ...               1.0               0.0
569    48  40.565  ...               0.0               0.0
1034   61  38.380  ...               0.0               0.0
198    51  18.050  ...               0.0               0.0
...   ...     ...  ...               ...               ...
1084   62  30.495  ...               0.0               0.0
726    41  28.405  ...               0.0               0.0
1132   57  40.280  ...               0.0               0.0
725    30  39.050  ...               1.0               0.0
963    46  24.795  ...               0.0               0.0

[268 rows x 11 columns]

In [ ]:
y_pred

array([[1.11699271e+04],
       [9.48670909e+03],
       [3.81811231e+04],
       [1.62663133e+04],
       [6.91464801e+03],
       [3.96348488e+03],
       [1.57939691e+03],
       [1.43852566e+04],
       [9.01257970e+03],
       [7.50846068e+03],
       [4.49176728e+03],
       [1.02795839e+04],
       [8.80129751e+03],
       [3.79802013e+03],
       [2.79262010e+04],
       [1.07151158e+04],
       [1.12889756e+04],
       [6.10501768e+03],
       [8.24104117e+03],
       [2.71445089e+04],
       [3.36440910e+04],
       [1.43551043e+04],
       [1.17372043e+04],
       [3.21374335e+04],
       [4.17005913e+03],
       [9.25496051e+03],
       [1.08433751e+03],
       [9.80417085e+03],
       [3.77104596e+03],
       [1.04318587e+04],
       [9.00931722e+03],
       [4.00749509e+04],
       [1.56889543e+04],
       [1.38794545e+04],
       [2.47597127e+04],
       [5.16638285e+03],
       [1.26109277e+04],
       [3.07691018e+04],
       [3.35498325e+04],
       [3.67154946e+03],
       [3.97568613e+03],
       [3.98729942e+03],
       [3.05285774e+04],
       [3.95053023e+04],
       [2.78105036e+04],
       [5.09258923e+03],
       [1.06042481e+04],
       [7.82952256e+03],
       [3.59255553e+03],
       [1.02128745e+04],
       [5.72038147e+03],
       [3.42627499e+03],
       [3.30210242e+04],
       [3.84738218e+04],
       [1.60534782e+04],
       [7.16491905e+03],
       [5.73919977e+03],
       [9.45413291e+03],
       [8.91062701e+03],
       [1.17258857e+04],
       [1.85695629e+03],
       [3.89143605e+04],
       [1.48996730e+04],
       [1.18049582e+04],
       [1.40504025e+04],
       [1.40561445e+04],
       [2.58313858e+04],
       [3.22305543e+04],
       [8.14404366e+02],
       [1.01648424e+04],
       [1.23598596e+04],
       [1.15278235e+04],
       [2.52453261e+04],
       [1.56220088e+04],
       [1.12086899e+04],
       [1.26497320e+04],
       [6.55670777e+03],
       [9.59052489e+03],
       [3.01863021e+04],
       [3.91076220e+04],
       [1.20498440e+04],
       [3.72942684e+04],
       [4.26550696e+03],
       [9.39402362e+03],
       [3.48527716e+04],
       [2.88476976e+04],
       [8.68792419e+03],
       [4.92922782e+03],
       [1.20387310e+04],
       [3.04700336e+04],
       [1.00804115e+04],
       [1.13933297e+04],
       [8.39810225e+03],
       [8.89883547e+03],
       [8.43179031e+03],
       [7.32351973e+03],
       [3.60240264e+04],
       [3.31822505e+04],
       [7.66151070e+03],
       [1.51410434e+04],
       [4.01724462e+03],
       [8.82872049e+03],
       [6.32285473e+03],
       [3.15486188e+04],
       [3.29786059e+04],
       [1.97482884e+03],
       [9.02652020e+03],
       [6.69683477e+03],
       [1.45844352e+04],
       [3.72411416e+04],
       [1.01354727e+04],
       [1.05842948e+04],
       [1.02289339e+04],
       [2.69881891e+04],
       [3.99001531e+04],
       [8.46273248e+03],
       [2.96616055e+02],
       [9.01614987e+03],
       [1.52639740e+04],
       [9.52664600e+03],
       [3.51526354e+04],
       [7.26409791e+03],
       [1.69845335e+04],
       [9.65329622e+03],
       [8.24868725e+03],
       [2.94113601e+03],
       [3.29148059e+04],
       [3.14835586e+04],
       [3.96264776e+04],
       [5.60762983e+03],
       [9.31034135e+03],
       [3.59216725e+03],
       [7.64687550e+03],
       [8.62747451e+03],
       [3.17338367e+04],
       [2.99730030e+04],
       [2.97817459e+04],
       [8.72605750e+03],
       [3.24335307e+04],
       [3.36029421e+03],
       [3.70973675e+03],
       [1.11375495e+04],
       [1.31502938e+04],
       [1.28674710e+04],
       [5.44883743e+03],
       [1.55800620e+04],
       [1.49332492e+04],
       [2.40834350e+03],
       [2.55105191e+01],
       [1.08468131e+04],
       [7.40948170e+03],
       [3.18522280e+04],
       [1.23836972e+04],
       [2.33566633e+03],
       [6.47818023e+03],
       [7.85862923e+03],
       [4.44708534e+03],
       [2.11393087e+03],
       [1.13548234e+04],
       [1.25406264e+04],
       [7.26445489e+03],
       [1.63876100e+04],
       [1.18151028e+04],
       [1.41078734e+04],
       [3.18429940e+03],
       [7.29134465e+03],
       [2.31256976e+04],
       [7.59255833e+03],
       [5.49044860e+03],
       [5.20329589e+03],
       [6.75891084e+03],
       [5.19817369e+03],
       [1.00037544e+04],
       [5.37962241e+03],
       [5.73483115e+03],
       [6.64184520e+03],
       [3.69809973e+03],
       [5.56834710e+03],
       [3.80623106e+04],
       [1.50010025e+03],
       [1.26381400e+04],
       [8.96683074e+03],
       [1.37833538e+04],
       [5.40160572e+03],
       [5.18838626e+03],
       [3.64594383e+04],
       [4.39797382e+03],
       [2.04401666e+03],
       [1.52236399e+04],
       [1.26797512e+04],
       [3.51385215e+04],
       [4.78068826e+03],
       [5.68154275e+03],
       [3.12300371e+04],
       [6.20751775e+03],
       [2.15116663e+03],
       [8.43897221e+03],
       [1.00468638e+04],
       [8.00237197e+03],
       [5.80481228e+03],
       [1.31602625e+04],
       [3.84674533e+04],
       [1.37503227e+04],
       [2.88764140e+04],
       [6.78756483e+03],
       [3.55308164e+04],
       [3.76682638e+03],
       [1.18919418e+04],
       [9.05961188e+03],
       [6.25955354e+03],
       [1.13624630e+04],
       [1.45614575e+04],
       [5.16699954e+03],
       [4.46624724e+03],
       [7.90887368e+03],
       [1.34485587e+03],
       [7.85618662e+03],
       [4.41748996e+03],
       [1.28875526e+04],
       [4.24146225e+03],
       [1.01131120e+04],
       [7.19651081e+03],
       [9.29692707e+03],
       [2.39780639e+03],
       [1.32449759e+04],
       [1.68678325e+04],
       [1.49416610e+04],
       [1.05908697e+04],
       [5.29006788e+03],
       [2.23337923e+03],
       [1.93571212e+03],
       [1.35089298e+04],
       [1.40528682e+04],
       [5.01861017e+03],
       [3.75949429e+03],
       [9.48805737e+03],
       [9.97840316e+03],
       [2.82869768e+04],
       [7.64934971e+03],
       [1.04709900e+04],
       [6.32317041e+03],
       [2.98547629e+04],
       [1.11497389e+04],
       [7.50699533e+03],
       [1.02337020e+04],
       [1.22479679e+04],
       [3.00735612e+03],
       [1.08754195e+04],
       [1.54095549e+03],
       [7.03804311e+03],
       [2.84462147e+04],
       [3.86899494e+04],
       [6.36993923e+03],
       [8.19218360e+03],
       [2.53689093e+03],
       [4.46856827e+02],
       [1.05698935e+04],
       [4.20548633e+03],
       [4.95501030e+03],
       [2.34316816e+03],
       [6.80728001e+03],
       [3.34095038e+04],
       [3.82467605e+04],
       [1.47602310e+04],
       [8.27798435e+03],
       [1.61499734e+04],
       [3.29047581e+04],
       [9.46761406e+03]])

In [ ]:
#Evaluation matrices
#Evaluation matrices are used to measure the quality of the model
#R-Squared Error
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.7999876970680433

In [ ]:
#Mean Absolute Error (MAE)
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred)

3933.272649405239

In [ ]:
#Mean Squared Error (MSE)
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred)

31827950.229523838

# **Feature Scaling**

In [ ]:
#feature Scaling
from sklearn.preprocessing import StandardScaler
X_sc = StandardScaler()
y_sc = StandardScaler()
X_train_new = X_sc.fit_transform(X_train[['age', 'bmi', 'children',
       'sex_female', 'sex_male', 'smoker_no', 'smoker_yes', 'region_northeast', 'region_northwest', 'region_southeast', 'region_southwest']])
X_test_new = X_sc.transform(X_test[['age', 'bmi', 'children',
       'sex_female', 'sex_male', 'smoker_no', 'smoker_yes', 'region_northeast', 'region_northwest', 'region_southeast', 'region_southwest']])
y_train_new = y_sc.fit_transform(y_train[['charges']])
y_test_new = y_sc.transform(y_test[['charges']])

# **Support Vector Regression:**

In [ ]:
# Support Vector Regression
# Fitting SVR to the dataset
from sklearn.svm import SVR 

regressor = SVR(kernel = 'linear')
regressor.fit(X_train_new,y_train_new)

SVR(kernel='linear')

In [ ]:
y_pred = regressor.predict(X_test_new)

In [ ]:
#R-Squared Error
r2_score(y_test_new, y_pred)

0.7680518079585446

In [ ]:
#Mean Absolute Error (MAE)
mean_absolute_error(y_test, y_pred)

13546.836660369856

In [ ]:
#Mean Squared Error (MSE)
mean_squared_error(y_test, y_pred)

342622763.1570357

# **Decision Tree Regression:**

In [ ]:
# Decision Tree Regression
# Fitting the decision tree regression with the dataset
from sklearn.tree import DecisionTreeRegressor


regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X_train_new,y_train_new)

DecisionTreeRegressor(random_state=0)

In [ ]:
y_pred = regressor.predict(X_test_new)

In [ ]:
#R-Squared Error
r2_score(y_test_new, y_pred)

0.7680518079585446

In [ ]:
#Mean Absolute Error (MAE)
mean_absolute_error(y_test, y_pred)

13546.836660369856

In [ ]:
#Mean Squared Error (MSE)
mean_squared_error(y_test, y_pred)

342622763.1570357

# **Random Forest Regression:**

In [ ]:
# Random Forest Regression
# Fitting the Random Forest Regression with the dataset
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators = 10,random_state = 0) # n estiamator is the number of decision trees
regressor.fit(X_train_new,y_train_new)

RandomForestRegressor(n_estimators=10, random_state=0)

In [ ]:
y_pred = regressor.predict(X_test_new)

In [ ]:
#R-Squared Error
r2_score(y_test_new, y_pred)

0.86495270343583

In [ ]:
#Mean Absolute Error (MAE)
mean_absolute_error(y_test, y_pred)

13546.762986789023

In [ ]:
#Mean Squared Error (MSE)
mean_squared_error(y_test, y_pred)

342620743.28124964